<div class="clear">
  {{#each content.items}}
    <a href="{{unbound link}}" rel="nofollow" target="_blank" class="floated" style="background-image: url({{unbound media.m}})" title="{{unbound title}}"></a>
  {{/each}}
</div>
