<h4>Waiting for remote JSON</h4>

<p>{{#link-to 'dynamic'}}Flickr feed{{/link-to}}</p>

<h4>Recovery from a fatal error</h4>

<p>{{#link-to 'crash'}}Crash example{{/link-to}}</p>

<h4>Issuing 301 redirects</h4>

<p>{{#link-to 'redirect'}}Redirect to Github{{/link-to}}</p>

<h4>Issuing a 404 header on missing routes</h4>

<p><a href="an-unknown-path">Missing page</a></p>

