<h2>Redirecting...</h2>

<p>
  When using ember-prerender, this page should redirect you
  to <a href="http://github.com">Github.com</a> using a 301 redirect.
</p>

<p>
  In addition to setting the prerender-specific meta tag for
  redirects, you can use Javascript or a meta refresh tag to forward
  desktop browsers to the desired URL.
</p>
